---
layout: false
---
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Chaldene - Admin Toolkit</title>

  <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap{{#if prod}}.min{{/if}}.css" />
  <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome{{#if prod}}.min{{/if}}.css" />
  <link rel="stylesheet" href="assets/css/elektron{{#if prod}}.min{{/if}}.css" />
  <link rel="stylesheet" href="assets/css/theme-peter-river{{#if prod}}.min{{/if}}.css" />

</head>

<body>

  <div class="app">
    <div class="app-wrap">
      <header class="bg-dark">
        <div class="container pt-5 pb-5">
          <p class="text-center text-white display-4 my-5">Chaldene - Admin Toolkit</p>
          <p class="text-center lead text-light my-5">
            Chaldene is an HTML5 Admin Toolkit, specifically designed for developers and conceived to offer you
            unlimited resources for any project, from a management system, to a backend, a CMS, a CRM.
          </p>
          <p class="text-center ">
            <a class="btn btn-secondary btn-lg m-3" href="#" target="_blank">
              <i class="fa fa-fw fa-download"></i> Download Now
            </a>
            <a class="btn btn-primary btn-lg m-3" href="first/index.html" target="_blank">
              <i class="fa fa-fw fa-external-link"></i> Live preview
            </a>
          </p>
        </div>
      </header>

      <div class="pt-4 bg-light">
        <div class="container pb-4">
          <div class="text-uppercase text-center py-4 mb-4 h3">
            <span class="border-bottom border-danger pt-5">3 Layouts</span>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-5">
                <img class="card-img-top" src="assets/img/lay1.png" alt="first layout" />
                <div class="card-body text-center">
                  <h4 class="card-title">Layout 1</h4>
                  <h6 class="card-subtitle">(fullwidth toolbar)</h6>
                </div>
                <footer class="card-footer bg-transparent text-center">
                  <a href="first/index.html" class="card-link">HTML</a>
                  <a href="firstrtl/index.html" class="card-link">RTL</a>
                </footer>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-5">
                <img class="card-img-top" src="assets/img/lay2.png" alt="second layout" />
                <div class="card-body text-center">
                  <h4 class="card-title">Layout 2</h4>
                  <h6 class="card-subtitle">(two column)</h6>
                </div>
                <footer class="card-footer bg-transparent text-center">
                  <a href="second/index.html" class="card-link">HTML</a>
                  <a href="secondrtl/index.html" class="card-link">RTL</a>
                </footer>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-5">
                <img class="card-img-top" src="assets/img/lay3.png" alt="third layout" />
                <div class="card-body text-center">
                  <h4 class="card-title">Layout 3</h4>
                  <h6 class="card-subtitle">(horizontal menu)</h6>
                </div>
                <footer class="card-footer bg-transparent text-center">
                  <a href="third/index.html" class="card-link">HTML</a>
                  <a href="thirdrtl/index.html" class="card-link">RTL</a>
                </footer>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-white">
          <div class="container py-5">

            <div class="text-uppercase text-center py-4 mb-4 h3">
              <span class="border-bottom border-danger pt-5">feature</span>
            </div>


            <div class="row">
              <div class="col-md-4">
                <div class="d-flex flex-row align-items-center mb-3">
                  <div class="border rounded p-3 mr-3">
                    <i class="fa fa-fw fa-tv fa-2x"></i>
                  </div>
                  <h4>Responsive Design</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="d-flex flex-row align-items-center mb-3">
                  <div class="border rounded p-3 mr-3">
                    <i class="fa fa-fw fa-code fa-2x"></i>
                  </div>
                  <h4>Clean Code</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="d-flex flex-row align-items-center mb-3">
                  <div class="border rounded p-3 mr-3">
                    <i class="fa fa-fw fa-code fa-2x"></i>
                  </div>
                  <h4>LESS support</h4>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="d-flex flex-row align-items-center mb-3">
                  <div class="border rounded p-3 mr-3">
                    <i class="fa fa-fw fa-html5 fa-2x"></i>
                  </div>
                  <h4>HTML5</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="d-flex flex-row align-items-center mb-3">
                  <div class="border rounded p-3 mr-3">
                    <i class="fa fa-fw fa-css3 fa-2x"></i>
                  </div>
                  <h4>CSS3</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="d-flex flex-row align-items-center mb-3">
                  <div class="border rounded p-3 mr-3">
                    <i class="fa fa-fw fa-table fa-2x"></i>
                  </div>
                  <h4>Many Layouts</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="bg-danger py-5">
            <div class="container my-5">
              <div class="d-flex justify-content-center">
                <div class="col col-sm-8">
                  <img class="img-fluid" src="assets/img/mac.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-dark">
        <p class="text-center text-white py-3 m-0">Copyright Chaldene v0.2.0 © 2020</p>
      </footer>
    </div>
  </div>

  <script src="assets/vendor/jquery/jquery{{#if prod}}.min{{/if}}.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap{{#if prod}}.min{{/if}}.js"></script>
  <script src="assets/js/elektron{{#if prod}}.min{{/if}}.js"></script>
</body>

</html>
