---
title: Border
category: utility
---
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Borders</h5>
    <!-- /.card-title -->
    <a href="https://getbootstrap.com/docs/4.4/utilities/borders/" target="_blank" class="card-link text-primary">Bootstrap Docs</a>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
