---
title: Display
category: utility
---

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Display property</h4>
    <a class="card-link text-primary" target="_blank" href="https://getbootstrap.com/docs/4.4/utilities/display/">Bootstrap Docs</a>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
