---
title: Flexbox
category: utility
---
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Flex</h5>
    <a href="https://getbootstrap.com/docs/4.4/utilities/flex/" target="_blank" class="card-link text-primary">Bootstrap Docs</a>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
